{% extends "layout.html" %}
{% block content %}


<div class="menu">

  <h1>Home</h1>

    <p>Welcome to the deployment of the ML model for the SECOM data set.</p>

    <p>The application was developed by the Fraunhofer IPT for the 2021 Study "Deployment of ML and AI Solutions in the Manufacturing Environment" of the International Center for Networked, Adaptive Production (ICNAP).</p>

    <img src="{{url_for('static', filename='images/icnap.png')}}" alt="ICNAP Logo" style="max-width: 300px;">

    <p>For questions or remarks please contact Alexander Kies via the email address below.</p>
    <a href= "mailto:alexander.kies@ipt.fraunhofer.de">alexander.kies@ipt.fraunhofer.de</a>

</div>

{% endblock %}